<!DOCTYPE html>
<html>
  <head>
      <title>{{ .Title }}</title>
      {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}
    <article id="post-page">
      <h1 class="title">{{ .Title }}</h1>
      <div class="by-line post-time">
        <time><i>{{ .Date.Format "2006-01-02" }}</i></time>
      </div>
      <div class="content">
        {{ .Content }}
      </div>
    </article>
    <footer class="post-footer">
      <div class="align-right">
        <span>{{ .Site.Author.name }}</span><br/>
        <span>{{ .Date.Format "2006-01-02" }}</span>
      </div>
    </footer>
  </body>
  <script>
    var imgs = document.getElementsByTagName("img");
    var img, item, span;
    for (var i = 0; i < imgs.length; i++) {
      img = imgs[i];
      if(img.alt == '') continue;
      item = document.createElement("div");
      item.className = 'img-alt';
      span = document.createElement("small");
      span.innerText = img.alt;
      item.appendChild(span);

      var parent = img.parentNode;
      if(parent.lastChild == img){
        parent.appendChild(item);
      } else {
        parent.insertBefore(item, img.nextSibling);
      }
    }
  </script>
<html>
