<li class="note-post">
  <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="by-line post-time">
    <time datetime="{{ .Date.Format "2006-01-02" }}"> <i>{{ .Date.Format "2006-01-02" }}</i> </time>
    <div class="f-right">
      {{ if .Params.tags }}
         {{range .Params.tags}}<a href="/tags/{{ . | urlize}}.html">{{ . }}</a> {{end}}
      {{end}}
		</div>
  </div>

  {{ if .Params.image }}
    <a href="{{ .Permalink}}"><img src="{{ .Params.image }}"></a>
  {{ end }}
  <p>
    <a href="{{ .Permalink }}">
      {{ .Summary }}
      {{ if .Truncated }} <span class="read-more"> Read More -&gt; </span> {{ end }}
  </a>
  </p>
</li>
